{% extends 'base.html' %}

{% block content %}
{% if cur_balance %}
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <h1 class="center-align">${{ cur_balance.amount }}</h1>
            <div class="card-action">
                <a class="right" href="{% url 'current_balance_update' cur_balance.id %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col s6">
    <form action="{% url 'add_current_balance' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_balance_form.as_p }}
        <input type="submit" class="btn" value="Add Balance">
    </form>
</div>
{% endif %}
{% endblock %}