{% extends 'base.html' %}

{% block content %}
{% if cur_balance %}
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <h1 class="center-align">${{ cur_balance.amount }}</h1>
            <div class="card-action">
                <a class="right" href="{% url 'current_balance_update' cur_balance.id %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col s6">
    <form action="{% url 'add_current_balance' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_balance_form.as_p }}
        <input type="submit" class="btn" value="Add Balance">
    </form>
</div>
{% endif %}
{% if monthly_costs %}
<div class="row">
    <h5 class="center-align green-text">Monthly Costs</h5>
    {% for cost in monthly_costs %}
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h5 class="center-align">{{ cost.name }}</h1>
                <div class="card-action">
                    <p class="center-align">${{ cost.amount }}</p>
                    <a class="right"href="{% url 'monthly_cost_delete' cost.id %}">Delete</a>
                    <a class="right" href="{% url 'monthly_cost_update' cost.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <h5 class="center-align">Add A Monthly Cost</h5>
    <form action="{% url 'add_monthly_costs' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_monthly_costs_form.as_p }}
        <input type="submit" class="btn right" value="Add Monthly Cost">
    </form>
</div>

{% if monthly_payments %}
<div class="row">
    <h5 class="center-align green-text">Monthly Payments</h5>
    {% for payment in monthly_payments %}
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h5 class="center-align">{{ payment.name }}</h1>
                <div class="card-action">
                    <p class="center-align">${{ payment.amount }}</p>
                    <a class="right"href="{% url 'monthly_payment_delete' payment.id %}">Delete</a>
                    <a class="right" href="{% url 'monthly_payment_update' payment.id %}">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <h5 class="center-align">Add A Monthly Payment</h5>
    <form action="{% url 'add_monthly_payments' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_monthly_payments_form.as_table }}
        <input type="submit" class="btn right" value="Add Monthly Payment">
    </form>
</div>


{% if additional_purchases %}
<div class="row">
    <div>
        <h5 class="center-align green-text">Additional Purchases</h5>
        {% for purchase in additional_purchases %}
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <h5 class="center-align">{{ purchase.name }}</h1>
                    <div class="card-action">
                        <p class="center-align">${{ purchase.amount }}</p>
                        <a class="right"href="">Delete</a>
                        <a class="right" href="{% url 'additional_purchase_update' purchase.id %}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
    <br>
    <div>
        <h5 class="center-align">Add An Additional Purchase</h5>
        <form action="{% url 'add_additional_purchase' user_id=request.user.id %}" method="POST">
            {% csrf_token %}
            {{ add_additional_purchases_form.as_p }}
            <input type="submit" class="btn right" value="Add Additional Purchase">
        </form>
    </div>
{% endblock %}