{% extends 'base.html' %}

{% block content %}
{% if cur_balance %}
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <h1 class="center-align">${{ cur_balance.amount }}</h1>
            <div class="card-action">
                <a class="right" href="{% url 'current_balance_update' cur_balance.id %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col s6">
    <form action="{% url 'add_current_balance' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_balance_form.as_p }}
        <input type="submit" class="btn" value="Add Balance">
    </form>
</div>
{% endif %}
{% if monthly_costs %}
<h5 class="center-align green-text">Monthly Costs</h5>
{% for cost in monthly_costs %}
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <h5 class="center-align">{{ cost.name }}</h1>
            <div class="card-action">
                <p class="center-align">${{ cost.amount }}</p>
                <a class="right"href="">Delete</a>
                <a class="right" href="{% url 'monthly_cost_update' cost.id %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="col s6">
    <h5 class="center-align">Add A Monthly Cost</h5>
    <form action="{% url 'add_monthly_costs' user_id=request.user.id %}" method="POST">
        {% csrf_token %}
        {{ add_monthly_costs_form.as_p }}
        <input type="submit" class="btn right" value="Add Monthly Cost">
    </form>
</div>
{% endblock %}